*,
*::before,
*::after {
	box-sizing: inherit;
}

ul[class],
ol[class] {
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

ul[class],
ol[class] {
	list-style: none;
}

a {
	text-decoration: none;
}

html {
    // This defines what 1 rem is 
    font-size: 62.5%; //1rem = 10px, 10px/16px = 62.5%

    @include respond(tablet) {
        font-size: 56.25%; 
    }

    @include respond(small-tablet) {
        font-size: 50%; //1rem = 8px, 8/16 = 50%'
    }
}


body {
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    padding: 3rem;

    @include respond(tablet) {
        padding: 0;
    }
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 114rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;

    &--column {
        flex-direction: column;
        align-items: center;
    }
}

.btn-reset {
	border: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}