@mixin flex-2-col {
    flex: 1 1 calc(100% / 2 - 4rem * 1 / 2);
}

@mixin flex-3-col {
    flex: 1 1 calc(100% / 3 - 4rem * 2 / 3);
}

@mixin flex-4-col {
    flex: 1 1 calc(100% / 4 - 4rem * 3 / 4);
}