.card {
    @include flex-3-col;
    perspective: 150rem;
    position: relative;
    height: 54rem;

    &__side {
        height: 54rem;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: $border-small;
        overflow: hidden;
        box-shadow: $shadow-1;
        backface-visibility: hidden;
        transition: all .8s ease-in-out;

        &--front {
            background-color: $color-white;
        }

        &--back {
            display: grid;
            place-content: center;
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-tretiary-light, $color-tretiary-dark);
            }
        }
    }

    &:hover &__side--front{
        transform: rotateY(-180deg);
    }

    &:hover &__side--back{
        transform: rotateY(0);
    }

    // FRONT SIDE STYLING
    &__image {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &--1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), 
            url(../img/nat-5.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), 
            url(../img/nat-5.jpg);
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $color-tretiary-light, $color-tretiary-dark), 
            url(../img/nat-5.jpg);
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
        text-align: right;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
    }

    &__heading-bg {
        padding: 1rem 1.5rem;
        box-decoration-break: clone;
        &--1 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-secondary-light, .85),
            rgba($color-secondary-dark, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-primary-light, .85),
            rgba($color-primary-dark, .85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-tretiary-light, .85),
            rgba($color-tretiary-dark, .85));
        }
    }

    &__details {
        ul {
            list-style: none;
            width: 80%;
            padding: 3rem;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: $default-font-size;
                padding: 1rem;
                
                &:not(:last-child) {
                    border-bottom: 1px solid $color-gray-light-2;
                }
            }
        }
    }

    // BACK SIDE STYLING
    &__cta {
        display: grid;
        justify-items: center;
        gap: 4rem;
    }

    &__price {
        text-align: center;
        color: $color-white;
        margin-bottom: 6rem;
    }

    &__price-text {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }


    // RESPONSIVE
    // TABLET
    @media only screen and (max-width: 56.25em),
        only screen and (hover: none)  {
        height: auto;
        border-radius: $border-small;
        background-color: $color-white;
        box-shadow: $shadow-1;

        &__side {
            height: auto;
            width: 100%;
            position: relative;
            box-shadow: none;

            &--back {
                transform: rotateY(0);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            }
        }

        &__details {
            ul {
                padding: 3rem 3rem 2rem 3rem; 
            } 
        }

        &:hover &__side--front{
            transform: rotateY(0);
        }

        // BACK SIDE STYLING
        &__cta {
            padding: 7rem 4rem 4rem 4rem;
            gap: 3rem;
        }

        &__price {
            margin-bottom: 0;
        }

        &__price-value {
            font-size: 6rem;
        }
    }

    //MOBILE
    @media only screen and (max-width: 56.25em){
        @include flex-1-col-80;
    }
} 



