.features-item {
    @include flex-4-col;
    background-color: rgba($color-white, .8);
    font-size: $default-font-size;
    padding: 2.5rem;
    text-align: center;
    border-radius: $border-small;
    box-shadow: $shadow-1;
    transition: transform .3s;

    @include respond(small-tablet) {
        @include flex-2-col;
    }

    &__icon {
        height: 6rem;
        width: 100%;
        margin-bottom: 0.6rem;
        fill: $color-primary;
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}



