.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    backdrop-filter: blur(10px );
    z-index: 250;
    display: grid;
    place-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    

    &__content {
        position: relative;
        width: 75%;
        min-height: 50rem;
        background-color: $color-white;
        box-shadow: $shadow-1;
        border-radius: $border-small;
        display: grid;
        grid-template-columns: calc(100% / 3) 1fr;
        grid-template-rows: 1fr 1fr;
        overflow: hidden;
        opacity: 0;
        transform: scale(0.5);
        transition: all .6s .2s;
    }

    &__right {
        padding: 5rem 7rem;
        grid-column: 3 / 4;
        grid-row: 1 / -1;
    }

    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;

        &--1 {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        &--2 {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
        
    }

    &__heading {
        width: 100%
    }

    &__text {
        font-size: $default-font-size;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-gray-light-2;
        margin-bottom: 5rem;
    }

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: scale(1);
    }

    &__close {
        position: absolute;
        top: 1rem;
        right: 2.5rem;
        font-size: 3rem;
        color: $color-gray-dark-1;
        transition: all .2s;

        &:hover {
            color: $color-primary;
        }
    }
}

// RESPONSIVE
@include respond(small-tablet) {
    .popup {

        &__content {
            min-height: auto;
        }

        &__right {
            padding: 4rem 3rem;
        }

        &__text {
            column-count: 1;
            margin-bottom: 3rem;
        }
    }
}

@include respond(mobile) {
    .popup {

        &__content {
            min-height: auto;
            grid-template-columns: calc(100% / 2) 1fr;
            grid-template-rows: 100px 1fr;
        }

        &__right {
            padding: 4rem 3rem;
            grid-column: 1 / 4;
            grid-row: 2 / 3;
        }
        
        &__img {
            &--1 {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }
    
            &--2 {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
            }
        }
    }
}