.footer {
    background-color: $color-gray-dark-3;
    padding: 10rem 0;
    font-size: 1.4rem;

    @include respond(small-tablet) {
        padding: 8rem 0;
    }

    @include respond(mobile) {
        padding: 6rem 0;
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        row-gap: 8rem;

        @include respond(small-tablet) {
            place-items: center;
            grid-template-columns: 1fr;
            row-gap: 5rem;
        }
    }

    &__logo-wrapper {
        display: block;
        width: 15rem;
        grid-column: 2 / 3;

        @include respond(small-tablet) {
            grid-column: 1 / -1;
        }
    }

    &__logo {
        width: 100%;
    }

    &__nav {
        grid-column: 1 / 2;

        @include respond(small-tablet) {
            width: 80%;
            grid-column: 1 / -1;
        }

        @include respond(mobile) {
            width: 100%;
        }
    }

    &__copyright {
        grid-column: 3 / 4;
        border-top: 1px solid $color-gray-light-2;
        padding-top: 2rem;
        color: $color-gray-light-1;

        @include respond(small-tablet) {
            width: 80%;
            grid-column: 1 / -1;
        }

        @include respond(mobile) {
            width: 100%;
        }
    }
}

.footer-nav {
    border-top: 1px solid $color-gray-light-2;
    padding-top: 2rem;

    &__list {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    &__link {
        &:link,
        &:visited {
            color: $color-gray-light-1;
            background-color: $color-gray-dark-3;
            text-transform: uppercase;
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
        }

    }
}